*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


a{
  text-decoration: none;
}

button {
  font-family: 'Dana-Regular';
}

li {
  list-style: none;
}

.subtitle {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  font-size: 3.6rem;
  color: #151515;
  font-weight: 700;
}