.adversting-section{
    margin-top: 11rem;
}
.adversting-right__section{

}
.adversting-img{
    width: 100%;
}
.adversting-left__section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}