.slide{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-img{
  width: 100%;
  filter: grayscale(100);
  opacity: 0.5;
  transition: all 300ms;
}

.slide-img:hover{
  filter: none;
  opacity: 1;
}